// Breakpoints 
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1025px;

// Text 
$color-text-main: #000;
$color-link: #232323;
$color-background: #FFF;
$color-gray: #555;
$color-background-button: rgba(249, 137, 33, 1);
$color-background-btn-hover: rgba(27, 33, 41, 1);
$border-radius: 8px;
$border-input-hover: rgba(219, 219, 219, 1);
$text-muted: #666;